OKX_API_KEY=your_okx_api_key_here
OKX_SECRET_KEY=your_okx_secret_key_here
OKX_API_PASSPHRASE=your_okx_passphrase_here

TBOL_MAKER_PRIVATE_KEY=your_tbol_maker_private_key_here
TBOL_TAKER_PRIVATE_KEY=your_tbol_taker_private_key_here
STK_MAKER_PRIVATE_KEY=your_stk_maker_private_key_here
STK_TAKER_PRIVATE_KEY=your_stk_taker_private_key_here
BTU_MAKER_PRIVATE_KEY=your_btu_maker_private_key_here
BTU_TAKER_PRIVATE_KEY=your_btu_taker_private_key_here
